*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #333;
}

a {
  color: #333;
}
a:hover {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 2rem;
  text-align: center;
}

button {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
  border: #ccc 1px solid;
  height: 40px;
  font-size: 1rem;
  border-radius: 4px;
  -wekbit-border-radius: 4px;
}

.timing-pattern {
  text-align: center;
}

.timing-pattern .card {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.fb-sequence {
  display: -webkit-flex;
  display: flex;
}

.fb-pattern {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  background-color: #f4f4f4;
  border-right: white 1px solid;
  padding: .5rem 0;
  margin: 1px 0;
}

.fb-pattern:last-child {
  border-right: none;
}
[class*="result"] {
  font-size: 2rem;
  font-family: 'Alfa Slab One', cursive;
}
.label {
  font-size: 1rem;
}

.card {
  background-color: #f4f4f4;
  padding: .5rem 0;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.5rem;
}
.card small {
  font-family: 'Lato', sans-serif;
  font-size: .8rem;
  display: block;
  line-height: 1rem;
}
.song-recommendation .card {
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.description {
  border: #f4f4f4 1px solid;
  padding: 1rem;
  font-size: .8rem;
  margin-top: .5rem;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.hidden{
  display: none;
}